In [10]:
# Task one

In [6]:
import mysql.connector as connector

In [2]:
connection = connector.connect(user = "root", password = "vamos123")

In [3]:
cursor = connection.cursor()
cursor.execute("use littlelemondb")
connection.database

'littlelemondb'

In [ ]:
# Task two

In [8]:
query = "show tables"
cursor.execute(query)

In [9]:
tables = cursor.fetchall()
for table in tables:
    print(table)

('bookings',)
('customers',)
('deliverystatus',)
('menu',)
('menus_quantity_over_two',)
('menutypes',)
('orders',)
('orders_over_fifty',)
('ordersview',)
('staffinformation',)

In [11]:
query = """
select o.order_id, c.customer_name, c.contact_details, o.total_cost 
from orders as o 
inner join customers as c 
on o.customer_id = c.customer_id 
where o.total_cost > 60;
"""

In [12]:
cursor.execute(query) 
print(cursor.column_names)
rows = cursor.fetchall()
for row in rows:
    print(row)

('order_id', 'customer_name', 'contact_details', 'total_cost')
[(1, 'Vanessa McCarthy', '757536378 | vm@mangatagallo.com', Decimal('87.00')), (6, 'Vanessa McCarthy', '757536378 | vm@mangatagallo.com', Decimal('87.00'))]
[(1, 'Vanessa McCarthy', '757536378 | vm@mangatagallo.com', Decimal('87.00')), (6, 'Vanessa McCarthy', '757536378 | vm@mangatagallo.com', Decimal('87.00'))]